[CONFIGURATION]
# Name of the feature that provides the label for tabular datasets
label_tabular = multilabel

# Expects a comma-separated value list of either paths to CSV files, DIGITS, MNIST, FASHION-MNIST
datasets = ./input_folder/IDS/NSLKDD_Shuffled.csv, MNIST

# Expects a number. Any other input will be treated as "no row limit"
limit_rows = no

# Expects a comma-separated list of classifiers. Available classifiers are in the Classifier.py file
classifiers = XGB