[CONFIGURATION]
# Name of the feature that provides the label for tabular datasets
label_tabular = multilabel

# Folder for datasets
datasets_folder = ./input_folder/

# Folder for Uncertainty Scores
sprout_scores_folder = ./datasets_measures/

# Expects a comma-separated value list of either paths to CSV files, DIGITS, MNIST, FASHION-MNIST
datasets = bindatasets

# Expects a number. Any other input will be treated as "no row limit"
limit_rows = 150000

# Expects a comma-separated list of classifiers. Available classifiers are in the Classifier.py file
supervised_classifiers = DT, LDA, LR, RF, XGB, GBC, FastAI, TabNet
unsupervised_classifiers = COPOD, HBOS, PCA, MCD, CBLOF, INNE, GMM, FastABOD, IForest, SUOD

# COPOD, HBOS, PCA, MCD, CBLOF, INNE, GMM, FastABOD, IForest, SUOD

